doctype html
html(lang='es-PE')
	head
		include ./include/head.jade
		append title
		title Home

		link(rel='stylesheet', type='text/css', href='css/pant1.css')
	body
		.container-fluid
			.row
				.col-md-8
					h2.text-center
						span.fa.fa-user Hola, Jesus Vásquez
				.col-md-4
					h2 Salir
						span.fa.fa-sign-out