doctype html
html(lang='es-PE')
	head
		include ./include/head.jade
		append title
		title Home

		link(rel='stylesheet', type='text/css', href='css/pant1.css')
	body
		.container-fluid
			.row
				h1.text-center Recuperar Contraseña
			.container
				.row
					form.form-horizontal
						.form-group
							label.col-sm-2.control-label(for='inputEmail3') Correo
							.col-sm-10
								input#inputEmail3.form-control(type='email', placeholder='Email')
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-default(type='submit') Enviar
