doctype html
html(lang='es-PE')
    head
        include ./include/head.jade
        append title
        title Registro    
    body
        .container
            .row
                .col-md-5
                    p Correo Electrónico
                    input
                .col-md-4
                    p Contraseña
                    input
                    p Olvidaste tu contraseña
                .col-md-3
                    button Iniciar sesión
            .row
                p Regístrate
                form(action='')
                    .col-md-6
                        input(type='radio', name='registro', value='peruano',id='nacio')
                        |  Soy Peruano
                    .col-md-6
                        input(type='radio', name='registro', value='extranjero',id='extra')
                        |  Soy Extranjero
            .row
                .col-md-4.text-right
                    p DNI
                .col-md-8
                    input(type='number', name='dni', value='')
            .row
                .col-md-4.text-right
                    p Nombre
                .col-md-8
                    input.img-100(type='text', name='nombre', value='')
            .row
                .col-md-4.text-right
                    p Apellido
                .col-md-8
                    input.img-100(type='text', name='apellido', value='')
            .row
                .col-md-4.text-right
                    p Correo Electrónico
                .col-md-8
                    input.img-100(type='email', name='email', value='')
            .row
                .col-md-4.text-right
                    p Pais
                .col-md-8
                    select
                        option(value='') -Seleccione-
            .row
                .col-md-4.text-right
                    p Lugar de Residencia
                .col-md-8
                    select
                        option(value='') -Seleccione-
            .row
                .col-md-4.text-right
                    p Elegir Perfil
                .col-md-8
                    select
                        option(value='') -Seleccione-
            .row
                .col-md-4.text-right
                    p Contraseña nueva
                .col-md-8
                    input(type='password', name='password_n', value='')
            .row
                .col-md-4.text-right
                    p Confirmar Contraseña
                .col-md-8
                    input(type='password', name='password_c', value='')
            .row
                input(type='checkbox' id='acepto') 
                a
                    span Acepto los términos y condiciones
            .row.text-center
                button.btn Registrarse